h1 {
	text-align: center;
	border-style: solid;
	border-radius:2px;
	background-color: grey;
    padding: 10px;
    border-top:8px solid blue;
    border-bottom: 8px solid purple;
    border-left: 4px solid purple;
    border:2px solid black;
}

h2 {
	text-align: right;
	font-style: arial;
}

img {
	float: right;
}

h3 {
	text-align: center;
	font-family: arial;
}

h4 {
	text-align: center;
	font-family: arial;
}

body {
	  padding: 80px;
	  background-image: url("../image/flower.jpg");
      background-size: cover;
      background-repeat:no-repeat;
}

span {
	  font-family:monospace;
	  flex-direction: 30;
}

a { 
   padding: 100px;
}

p {
	font-family: arial;
}

ol {
	font-family: arial;
	color: blue;
}

ul{
	font-style: arial;
}




